@charset "UTF-8";
body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(10, 48, 48);
}
h1#principal{
    text-align: center;
    color: rgb(1, 12, 12);
    background-color: rgb(52, 184, 184) ;
   
}
h2{
    color: rgb(22, 43, 43);
}
.basico{
  color: rgb(238, 5, 5);
}
.intermediario{
  color: rgb(25, 110, 238);
}
.avancado{
  color: rgb(80, 127, 197);
}
.destaque{
    background-color: rgb(81, 192, 192);
}